  <div class="text-xs text-center">
    Challenge by <a class="a_footer" href="https://www.frontendmentor.io/challenges/bento-grid-RMydElrlOj">Frontend Mentor</a>. 
    Coded by <a class="a_footer" href="https://github.com/calululu/bentoGridTailwind">Calululu</a>.
  </div>