---
import Card from "./Card.astro";
---
<main class="grid grid-rows-8 grid-cols-4 gap-4 w-dvw h-dvh">
<Card color="hsl(256, 67%, 59%)" extraClasses="col-span-2 col-start-2">
    <h1 class="text-white text-center">Social Media <span class="text-yellow-500">10x</span> <span class="italic">Faster</span> with AI</h1>
    <img class="w-1/10" src="/images/illustration-five-stars.webp" alt="image">
    <p class="text-yellow-100">Over 4,000 5-starts reviews</p>
</Card>
<Card color="hsl(0, 0%, 100%)" extraClasses="row-span-2 col-start-1 row-start-1">
    <img src="/images/illustration-multiple-platforms.webp" alt="image">
    <h2 class="">Manage multiple accounts and platforms</h2>
</Card>
<Card color="hsl(39, 100%, 71%)" extraClasses="row-span-2 col-start-4 row-start-1">
    <h2 class="">Mantain a consistent posting schedule.</h2>
    <img src="/images/illustration-consistent-schedule.webp" alt="image">
</Card>
<Card color="hsl(254, 88%, 90%)">
    <h2 class="">Schedule to social media</h2>
    <img src="/images/illustration-schedule-posts.webp" alt="image">
    <p>Optimize post timings to publish content at the perfect time for your audience.</p>
</Card>
<Card color="hsl(256, 67%, 59%)">
    <img src="/images/illustration-grow-followers.webp" alt="image">
    <h2>Grow followers with non-stop content</h2>
</Card>
<Card color="hsl(0, 0%, 100%)">
    <h2>>56%</h2>
    <p>faster audience growth</p>
    <img src="/images/illustration-audience-growth.webp" alt="image">
</Card>
<Card color="hsl(31, 66%, 93%)">
    <h2>Create and schedule content <span>quicker</span></h2>
    <img src="/images/illustration-create-post.webp" alt="image">
</Card>
<Card color="hsl(39, 100%, 71%)">
    <h2>Write your content using AI.</h2>
    <img src="/images/illustration-ai-content.webp" alt="image">
</Card>
</main>
