---

---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/images/favicon-32x32.png'
    />
    <meta name='generator' content={Astro.generator} />
    <title>Frontend Mentor | Bento grid</title>
  </head>
  <body class='flex flex-col items-center justify-center bg-l-gray'>
    <slot />
  </body>
</html>
